.story-section {
  padding-left: 5rem;
  padding-right: 5rem;
}

.titolo {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: 200;
  color: #ed8363;
  font-size: 4rem;
}

.paragrafo {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: 300;
  margin-top: 3rem;
  font-size: 1.5rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

.immagine {
  width: 100%;
}
